<%- include('../partials/header')-%>

<div class="container text-center">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-lg-4 mt-4">
            <h1>Add new comment to <%=campground.name%></h1>
            <div class="mt-4">
                <form method="POST" action="/campgrounds/<%=campground._id %>/comments">
                    <div class="form-group"><input class="form-control" type="text" name="comment[text]" placeholder="text"></div>
                    <input class="btn btn-primary btn-block" type="submit" value="Add comment"></button>
                </form>
            </div>
            <div class="mt-4"><a href="/campgrounds"> Show all campgrounds </a></div>
        </div>
    </div>
</div>

<%- include('../partials/footer')-%>