<%- include('partials/header') -%>


<h1 style="text-align: center; padding-top: 30vh;"> Welcome to yelpcamp ! </h1>
<div style="text-align: center;"><a class="btn btn-info mt-3" href="/campgrounds"> View all campgrounds </a></div>

<%- include('partials/footer') -%>