<%- include('partials/header') -%>

<style>
    h2{
        margin-top: 30vh;
    }
</style>

<div class="row">
    <div class="col d-flex justify-content-center">
        <h2> Welcome to yelpcamp ! </h2>
    </div>
</div>
<div style="text-align: center;"><a class="btn btn-info mt-3" href="/campgrounds"> View all campgrounds </a></div>

<%- include('partials/footer') -%>